.headerContainer {
    position: fixed;
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-items: center;
    background-color: rgb(42, 43, 46);
    color: white;
}

.headerNav {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 6vw;
    margin: auto;
}

.headerTab {
    font-size: $header;
}

.headerSeparator {
    width: $header;
    height: 2px;
    background-color: rgb(194, 194, 194);
}